<div class="container my-12 mx-auto md:px-12">
  <div
    class="grid grid-cols-1 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4"
  >
    <div *ngFor="let d of data" class="card shadow-xl overflow-hidden">
      <div class="card-body max-w-70 bg-base-300 min-w-full p-5">
        <div
          class="flex w-full justify-between"
          [title]="getDate(d.validFrom, d.validTo)"
        >
          <app-badge
            [success]="d.valid"
            [errorText]="d.validationError || ''"
          ></app-badge>
          <app-remaining-days
            [daysRemaining]="d.daysRemaining"
          ></app-remaining-days>
        </div>
        <div class="font-medium mt-2">
          <a class="has-text-white" target="_blank" [attr.href]="'//' + d.host">
            {{ d.host }}
          </a>
        </div>

        <div
          class="text-base text-justify pb-4"
          [ngClass]="{ hidden: minimized }"
        >
          <span class="mt-1 mb-2 block text-xs">
            {{ getDate(d.validFrom, d.validTo) }}<br />
            {{ d.validationError || "certificate valid" }}
          </span>
          <div class="max-h-12 text-sm">
            <p
              class="pt-1 mb-2 block px-1"
              *ngIf="d.usedCipher?.version && d.usedCipher?.name"
            >
              <span class="mt-1 mb-2 block text-xs">
                cipher: {{ d.usedCipher.name?.name }} |
                {{ d.usedCipher.version }}
              </span>
            </p>

            <div
              class="pt-1 mb-2 px-1 flex items-center space-x-2"
              *ngIf="d.state === SslCheckState.OK"
            >
              <app-chip
                *ngFor="let h of getValidForList(d.validFor)"
                [text]="h"
                [title]="h"
              ></app-chip>
              {{ moreThanTwo(d.validFor) ? "..." : "" }}
            </div>

            <p
              class="mt-2 pt-1 mb-2 px-1 min-h-16"
              *ngIf="d.state === SslCheckState.ERROR"
            >
              <code>
                {{ d.message }}
              </code>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!data || data?.length === 0"
      class="w-70 bg-warning text-warning-content mt-4 shadow-lg rounded-lg overflow-hidden min-w-full p-5"
    >
      <p>
        Currently there are no SSL entries we could list.
        <span *ngIf="!connected"
          ><br />There is no connection to the backend, please check that.</span
        >
      </p>
    </div>
  </div>
</div>
